<blockquote class="alt">
  <h2>Get in touch</h2>

  <p>You can get in touch with us individually on the Service Design in Scotland Slack for example or the Public Sector Design in Scotland Slack, on Twitter or LinkedIn.</p>
  <ul>
    <li><a href="https://twitter.com/Artmadillo" target="_blank">Angela F. Orviz</a> (on Twitter)</li>
    <li><a href="https://www.linkedin.com/in/serena-n%C3%BCsing-543295173/" target="_blank">Serena Nüsing</a> (on LinkedIn)</li>
    <li><a href="https://twitter.com/StephanieKrus" target="_blank">Stéphanie Krus</a> (on Twitter)</li>
    <li><a href="https://twitter.com/PractitionerSt1" target="_blank">Practitioners Stories</a> (on Twitter)</li>
  </ul>
</blockquote>