<details class="feedback">
  <summary><span>Give feedback</span></summary>
  <div>
    <p>You can get in touch with us individually on the <strong>Service Design in Scotland</strong> or the <strong>Public Sector Design in Scotland</strong> Slack, on Twitter or LinkedIn.</p>
    
    <ul>
      <li><a href="https://twitter.com/Artmadillo" target="_blank">Angela F. Orviz</a> (on Twitter)</li>
      <li><a href="https://www.linkedin.com/in/serena-n%C3%BCsing-543295173/" target="_blank">Serena Nüsing</a> (on LinkedIn)</li>
      <li><a href="https://twitter.com/StephanieKrus" target="_blank">Stéphanie Krus</a> (on Twitter)</li>
      <li><a href="https://twitter.com/PractitionerSt1" target="_blank">Practitioners Stories</a> (on Twitter)</li>
    </ul>

    <p>You can also email us at: <a href="mailto:practitionerstories@gmail.com?Subject=Website%20-%20contact"><strong>practitionerstories@gmail.com</strong></a></p>
</div>
</details>